.page-header__content {
  background-color: $block-color;
  padding-top: 20px;
  min-height: 110px;
  box-sizing: border-box;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
}

.page-header__right {
  display: flex;
  flex-wrap: wrap;
  margin-top: 27px;
  min-width: 144px;
}

.page-header__extra-link {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  display: block;
  position: relative;
  padding: 0 13px;

  &:hover .page-header__icon--location path {
    stroke: $text-hover-color;
  }

  &:hover .page-header__icon--search path,
  &:hover .page-header__icon--cart path {
    fill: $text-hover-color;
  }

  &:active .page-header__icon--location path,
  &:focus .page-header__icon--location path {
    stroke: $text-hover-color;
    opacity: 0.5;
  }

  &:active .page-header__icon--search path,
  &:active .page-header__icon--cart path,
  &:focus .page-header__icon--search path,
  &:focus .page-header__icon--cart path {
    fill: $text-hover-color;
    opacity: 0.5;
  }
}

.page-header__left--active:hover {
  opacity: 0.5;
}

.page-header__left--active:active,
.page-header__left--active:focus {
  border: 1px solid $text-color;
}

.page-header {
  box-sizing: border-box;
  min-height: 322px;
  background: url("../../img/guitar-string.svg") 50% 54% no-repeat;
  background-size: 100% auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 70px;
    right: 0;
    width: 823px;
    height: 290px;
    z-index: 10;
  }
}

.webp .page-header::before {
  background: url("../../img/guitar.webp");
  background-size: 834px 290px;

  @media (min-resolution: 2dppx) {
    background: url("../../img/guitar@2x.webp");
    background-size: 834px 290px;
  }
}

.no-webp .page-header::before {
  background: url("../../img/guitar.png");

  @media (min-resolution: 2dppx) {
    background: url("../../img/guitar@2x.png");
  }
}

.page-header__extra-link {
  position: relative;
}

.page-header__cart-counter {
  position: absolute;
  font-size: 10px;
  color: $count-color;
  top: -5px;
  right: 12px;
}
