.popup-purchase {
  @include popup;
  line-height: 15px;
}

.popup-purchase__modal {
  @include modal;
  width: 72.55%;
  min-height: 230px;
  padding-top: 5px;
  padding-left: 15px;

  @media (min-width: 1366px) {
    width: 991px;
  }
}

.popup-purchase__image {
  margin-left: 5px;
}

.popup-purchase__wrapper {
  width: 90.14%;
  margin: 0 auto;
  position: relative;

  @media (min-width: 1366px) {
    width: 880px;
  }
}

.popup-purchase__close {
  cursor: pointer;
  position: absolute;
  right: -15px;
  top: -5px;
  width: 18px;
  height: 18px;
  background: transparent;
  border: none;

  &:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 15px;
    background: $checkbox-color;
    transform: rotate(-45deg);
    top: 0;
  }

  &:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 15px;
    background: $checkbox-color;
    transform: rotate(45deg);
    top: 0;
  }

  &:hover:before,
  &:hover:after {
    background: $bright-color;
  }

  &:focus:before,
  &:focus:after,
  &:active:before,
  &:active:after {
    background: $bright-color-active;
  }
}

.popup-purchase__title {
  font-size: 18px;
  letter-spacing: 0.05em;
}

.popup-purchase__content {
  display: grid;
  grid-template-columns: auto auto 1fr;
}

.popup-purchase__information {
  margin-left: 42px;
}

.popup-purchase__item-name {
  margin-top: 10px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}

.popup-purchase__item-code,
.popup-purchase__features,
.popup-purchase__price {
  display: block;
  letter-spacing: 0.08em;
}

.popup-purchase__adding {
  @include bright-button;
  min-width: 220px;
  height: 46px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  letter-spacing: 0.08em;
  margin-left: 34%;
  margin-right: 13px;
  cursor: pointer;
}

.popup-purchase__price {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}
