.popup-notification {
  @include popup;
}

.popup-notification__modal {
  @include modal;
  width: 72.55%;
  min-height: 185px;
  padding-top: 5px;
  padding-left: 15px;

  @media (min-width: 1366px) {
    width: 991px;
  }
}

.popup-notification__wrapper {
  width: 90.14%;
  margin: 0 auto;
  position: relative;

  @media (min-width: 1366px) {
    width: 880px;
  }
}

.popup-notification__close {
  position: absolute;
  right: -15px;
  top: -5px;
  width: 18px;
  height: 18px;
  background: transparent;
  border: none;

  &:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 15px;
    background: $checkbox-color;
    transform: rotate(-45deg);
    top: 0;
  }

  &:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 15px;
    background: $checkbox-color;
    transform: rotate(45deg);
    top: 0;
  }

  &:hover:before,
  &:hover:after {
    background: $bright-color;
  }

  &:focus:before,
  &:focus:after,
  &:active:before,
  &:active:after {
    background: $bright-color-active;
  }
}

.popup-notification__message {
  font-size: 18px;
  letter-spacing: 0.05em;
}

.popup-notification__transition {
  @include bright-button;
  min-width: 220px;
  width: 34%;
  height: 46px;
  margin-left: 12.2%;
  font-size: 16px;
  font-weight: bold;
  margin-top: 13px;
  letter-spacing: 0.08em;
}

.popup-notification__continuation {
  @include button-continuation;
  min-width: 220px;
  width: 33%;
  height: 46px;
  margin-left: 5.8%;
  margin-top: 13px;
  letter-spacing: 0.1em;
}
