.popup-deleting {
  @include popup;
}

.popup-deleting__modal {
  @include modal;
  width: 72.55%;
  min-height: 230px;
  padding-top: 5px;
  padding-left: 15px;

  @media (min-width: 1366px) {
    width: 991px;
  }
}

.popup-deleting__wrapper {
  width: 90.14%;
  box-sizing: border-box;
  padding-right: 15px;
  @media (min-width: 1366px) {
    width: 880px;
  }
  margin: 0 auto;
  position: relative;
}

.popup-deleting__close {
  position: absolute;
  right: -15px;
  top: -5px;
  width: 18px;
  height: 18px;
  background: transparent;
  border: none;

  &:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 15px;
    background: $checkbox-color;
    transform: rotate(-45deg);
    top: 0;
  }

  &:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 15px;
    background: $checkbox-color;
    transform: rotate(45deg);
    top: 0;
  }

  &:hover:before,
  &:hover:after {
    background: $bright-color;
  }

  &:focus:before,
  &:focus:after,
  &:active:before,
  &:active:after {
    background: $bright-color-active;
  }
}

.popup-deleting__title {
  font-size: 18px;
  letter-spacing: 0.05em;
}

.popup-deleting__content {
  display: grid;
  grid-template-columns: auto auto 1fr;
}

.popup-deleting__information {
  margin-left: 47px;
}

.popup-deleting__item-name {
  margin-top: 10px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}

.popup-deleting__item-code,
.popup-deleting__features,
.popup-deleting__price {
  display: block;
  letter-spacing: 0.08em;
}

.popup-deleting__adding {
  @include bright-button;
  min-width: 220px;
  height: 46px;
  margin-left: 18.5%;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  letter-spacing: 0.08em;
}

.popup-deleting__price {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.popup-deleting__deleting {
  @include bright-button;
  min-width: 220px;
  height: 46px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-family: "Droid Sans", "Arial", sans-serif;
  padding-bottom: 6px;
}

.popup-deleting__continuation {
  @include button-continuation;
  min-width: 220px;
  height: 46px;
  margin-top: 15px;
}

.popup-deleting__buttons-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 36%;
  margin-top: 13px;
  letter-spacing: 0.1sem;
}
