$min-content-width: 1020px;
$text-color: #000000;
$basic-color: #ffffff;
$block-color: #dddada;
$text-hover-color: #474747;
$text-click-color: rgba(71, 71, 71, 0.5);
$footer-color: #3f3f3f;
$bright-color: #da8b26;
$bright-color-active: #e27f00;
$checkbox-color: #9f9e9e;
$button-color: #c1c1c1;
$hovered-button-color: #585757;
$sorting-button-color: #6c6c6c;
$hovered-bright-color: #ffa839;
$shadow-color: #585757;
