$min-content-width: 1020px;
$text-color: #000000;
$basic-color: #ffffff;
$block-color: #dddada;
$text-hover-color: #474747;
$text-click-color: rgba(71, 71, 71, 0.5);
$footer-color: #3f3f3f;
$bright-color: #e27f00;
$bright-color-active: #da8b26;
